@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

body {
  background-color: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 49px;
}

h1 {
  color: #2155cd;
  font-size: 2.5rem;
}

a {
  padding: 25px;
  text-decoration: none;
  font-size: 1.5rem;
  color: pink;
}

a:visited {
  color: green;
}

figure {
  display: grid;
  grid-template-columns: auto;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

img {
  /* width: 30rem;
  height: 25rem; */

  width: 30rem;
  height: 25rem;
  border-radius: 1rem;
  border: solid 0.5rem #00bfff;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 11rem;
  border-top-left-radius: 2rem;

  /* 
    width: 30rem;
    height: 25rem;
    border-radius: 1rem;
    border: solid 0.5rem #00bfff;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 11rem;
    border-top-left-radius: 2rem;
  */
}

figcaption {
  margin: 1rem 0;
}

caption {
  font-size: 3rem;
  margin-bottom: 2rem;
}

table {
  border: thick solid #0aa1dd;
  width: 50rem;
  height: 20rem;
  margin: 5rem auto;
}

th {
  font-size: 2rem;
}

td {
  border: thin solid grey;
  text-align: center;
}

tr:hover {
  background-color: #0aa1dd;
}

ul li {
  line-height: 1.4;
  font-size: 1.2rem;
  font-family: auto;
  padding: 1rem;
  list-style: none;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2155cd;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0;
  margin-top: 2rem;
}

.about-para {
  font-size: 1.2rem;
  padding: 0 6rem;
  line-height: 1.4;
  margin-bottom: 5rem;
  font-family: auto;
}
